@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #191919;
}

:root {
    --fondo-real: #191919;
    --background-color: #2E2E2E;
    --color-primario: #9000ff;
    --gris-claro: #A7AAB5;
    --letras: #f0f0f0;
    --negro: #000000;
    --hover: #424242;
    --bradius: .5rem;
}

/* Recordar poner ::before en el html */

.head-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 20rem;
    justify-content: center;
    background: none;
}

.head-content2 {
    padding: 1rem;
    z-index: 1;
    width: 50rem;
    display: flex;
    backdrop-filter: blur(10px) brightness(0.8);
}

.head-content2 img {
    width: 18rem;
    height: auto;
}

.tag-album {
    padding: 1rem;
    color: var(--letras);
    overflow: auto;
}

.tag-album p:first-child {
    color: var(--color-primario);
    font-weight: bold;
}

/* ========== Contenido principal ======== */
.content-main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
    position: relative;
    width: 100%;
    color: var(--letras);
    margin-top: 1.2rem;
    flex-wrap: wrap;
    min-height: 100vh;

}

/* ========== Parte izquierda ======*/

.track-list {
    width: 58%;
    padding: 0 1rem;
}

.track {
    padding: .8rem .8rem .8rem 0;
}

.track-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.track-content i {
    margin-left: auto;
    cursor: pointer;
    padding: .3rem;
    transition: transform 0.2s;
}

.track-content span:first-child{
    margin-right: 1rem;
}

.track-content a {
    gap: .5rem;
    color: var(--letras);
    display: flex;
    align-items: center;
}

.track-content a h3 span {
    margin-left: .5rem;
    font-weight: normal;
}

.more-track {
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.more-track span {
    display: flex;
}

.more-track a {
    color: var(--color-primario);
}

.comentarios {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: var(--bradius);
}

.comentarios input {
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: var(--letras);
    width: 100%;
}

.aviso {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--color-primario);
    color: var(--letras);
    padding: 15px;
    border-radius: var(--bradius);
    display: none;
    animation: fadeInOut 1.5s ease-out;
}

/* Botón de cierre de la ventana modal */
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
}

/*============ Parte derecha ===============*/

.history-album {
    width: 42%;
    padding-right: 1rem;
}

.history-album .about{
    margin-top: 1rem;
    background-color: var(--background-color);
    padding: .8rem;
    border-radius: var(--bradius);
    margin-bottom: 1rem;
}

#more {
    display: none;
}

#myBtn {
    background-color: transparent;
    border: none;
    color: var(--color-primario);
    font-size: 15px;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5rem;
}

.comments i {
    color: #f0f0f0;
    border-radius: var(--bradius);
}


.comments .like {
    display: flex;
    align-content: center;
    gap: .5rem;
    cursor: pointer;
}

.comments .like i:nth-child(1):hover {
    color: greenyellow;
}

.comments .like i:hover {
    color: red;
}

.comments .share {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: .5rem;
    cursor: pointer;
}

.comments .share i:hover {
    background-color: var(--hover);
}

/* ======= Mas albumes del artistas ====*/

.artist-albums {
    gap: .5rem;
    width: auto;
    display: flex;
    background-color: var(--background-color);
    padding: .7rem;
    justify-content: space-between;
    border-radius: var(--bradius);
    margin-bottom: 1rem;
}

.artist-albums a {
    padding: .5rem;
    width: 50%;
    height: auto;
    text-align: center;
    color: var(--letras);
}

.artist-albums a img {
    width: 100%;
}

.artist-albums a:hover {
    background-color: var(--hover);
}

.artist-albums a span {
    margin-top: .5rem;
    font-size: .8rem;
}

.artist-albums a p {
    font-size: .8rem;
}

@media (width <= 426px) {

    .head-content {
        height: 12rem;
    }
    .head-content2 img {
        width: 10rem;
        height: 10rem;
    }

    .content-main {
        flex-wrap: wrap;
    }

    .track-list {
        width: auto;
    }
    
    .history-album {
        margin-top: 1rem;
        width: auto;
        padding-left: 1rem;
    }
}